.header{
  background-color: black;
  height: 80px;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-sec{
  color: white;
  
}
.left-sec img{
  height: 40px;
  padding-left: 61px;
  padding-top: 4px;
}
.left-sec:hover{
  cursor: pointer;
}
.right-sec{
  color: white;
  padding-right: 60px;
}
.right-sec ul{
  
  list-style: none;
  
}
.right-sec li:hover{
  color:#1DB954;
  cursor: pointer;
}
.right-sec li{
  display: inline-block;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 500;
}
